configs/workflows/3_smn_surface.json
{
  "name": "SMN Surface Data Fetch",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 1
            }
          ]
        }
      },
      "name": "Schedule",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [
        250,
        300
      ]
    },
    {
      "parameters": {
        "url": "https://smn.gob.ar/descarga-de-datos?file=observaciones/datohorario.txt",
        "responseFormat": "file",
        "options": {}
      },
      "name": "Download SMN Data",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        450,
        300
      ]
    },
    {
      "parameters": {
        "command": "grep 'Rio Cuarto' /tmp/$(ls -t /tmp | head -n 1) > /tmp/riocuarto_data.txt && cat /tmp/riocuarto_data.txt"
      },
      "name": "Extract Rio Cuarto",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        650,
        300
      ]
    },
    {
      "parameters": {
        "authentication": "headerAuth",
        "requestMethod": "POST",
        "url": "http://influxdb:8086/api/v2/write?org={{$env.INFLUXDB_INIT_ORG}}&bucket={{$env.INFLUXDB_INIT_BUCKET}}&precision=s",
        "options": {},
        "bodyParametersUi": {
          "parameter": [
            {
              "name": "raw_data",
              "value": "={{$json.stdout}}"
            }
          ]
        }
      },
      "name": "Insert to InfluxDB",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        850,
        300
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "influxTokenId",
          "name": "InfluxDB Token"
        }
      }
    }
  ],
  "connections": {
    "Schedule": {
      "main": [
        [
          {
            "node": "Download SMN Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download SMN Data": {
      "main": [
        [
          {
            "node": "Extract Rio Cuarto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Rio Cuarto": {
      "main": [
        [
          {
            "node": "Insert to InfluxDB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true
}
